#landing {
    overflow: hidden;
}

#landing-copy-container {
    position: relative;
    width: 100%;
    height: 80vh;
}

#landing-copy-container h1,
h2 {
    position: relative;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#landing-copy-container h1 {
    position: relative;
    font-size: 11rem;
    top: 80px;
    left: 0px;
}

#landing-copy-container h2 {
    position: relative;
    font-size: 8rem;
    font-weight: 300;
}
#developer {
    color: #7b7b7b;
    top: 50px;
    left: 25%;
}
#designer {
    color: #141414;
    top: 50px;
    left: 52%;
}
#creator {
    color: #848484;
    top: 40px;
    left: 15%;
}

.name-mobile {
    display: none;
}

/* Media Queries */

/* XL Screens */
@media screen and (max-width: 1440px) {
    #landing-copy-container h2 {
        font-size: 6em;
    }
}

/* Lg Screens */
@media screen and (max-width: 1024px) {
    #landing-copy-container h1 {
        font-size: 8em;
    }
    #landing-copy-container h2 {
        font-size: 5em;
    }
    #developer {
        top: 100px;
    }
    #designer {
        top: 100px;
    }
    #creator {
        top: 90px;
    }
}

/* Md Screens */
@media screen and (max-width: 899px) {
    .name-mobile {
        display: unset;
        width: 100%;
        text-align: left;
    }
    .name-mobile h1 {
        font-size: 5em !important;
    }
    .name-desktop {
        display: none;
    }

    #developer {
        left: 0%;
    }
    #designer {
        left: 12%;
    }
    #creator {
        left: 5%;
    }
}

/* Sm Screens */
@media screen and (max-width: 500px) {
    #watermark {
        display: none;
    }
}
