footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 142px;
    bottom: 10px;
}

footer img {
    width: 185px;
}

footer ul li {
    display: inline;
}
footer ul li {
    margin-right: 15px;
}

footer li a {
    color: #8e8e8e;
    font-size: 1.15em;
    font-weight: 500;
}

footer li a:hover {
    color: #de8c2f;
}
