header {
    padding: 25px 15px 0 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 185px;
}

nav ul li {
    display: inline;
}
nav ul li {
    margin-right: 15px;
}

nav li a {
    color: #8e8e8e;
    font-size: 1.15em;
    font-weight: 500;
    transition: color 0.45s ease-in-out;
}

nav li a:hover {
    color: #2f94de;
}
