.wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.grid-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    width: 350px;
    height: 200px;
    transition: transform 0.45s ease-in-out;
    overflow: hidden;
}

.grid-item:hover {
    transform: scale(0.98);
}

img {
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}

.sm {
    width: 40% !important;
}
.md {
    width: 75%;
}
.lg {
    height: 100%;
    width: 100%;
}

video {
    width: 350px;
    height: auto;
}

@media screen and (max-width: 899px) {
    .wrapper {
        height: auto;
        margin-top: 75px;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-item {
        width: 100%;
    }
}
